__Solutin of question 1__

In [25]:

s = 'xyz@yahoo.com'
cname = s[4:9]
print(cname)

yahoo

In [29]:
# comma-separated sequence after sorting them alphabetically
char = 'name','hey','usa','cow'
print(list(char))
print(sorted(char))

['name', 'hey', 'usa', 'cow']
['cow', 'hey', 'name', 'usa']

# Set

__A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.__

In [42]:
s = {'ram','sam','sham','sac'}
print(s)
print(type(s))

{'sham', 'sam', 'ram', 'sac'}
<class 'set'>

In [39]:
s.add("mohan") # Add 'mohan to set s'
print(s)

s.remove("mohan") # Remove 'mohan from the set s'
print(s)

{'sham', 'ram', 'sam', 'sac', 'mohan'}
{'sham', 'ram', 'sam', 'sac'}

In [38]:
# Acess all items of set through loop
for i in s:
    print(i)

sham
ram
sam
sac
mohan

***pop()*** : __We can use this function to remove last item from the set.__

In [43]:
pop = s.pop()
print(pop)
print(s)

sham
{'sam', 'ram', 'sac'}

***clear()*** : __This method empties the set.__

In [45]:
s.clear()
print(s)

set()

***del()*** : __'del' keyword will delete the set completely.__

In [48]:
del s
print(s) # Error: 's' is not define

NameError: name 's' is not defined

__Solution fo Question no. 4__

In [57]:
# program to find the missing number from the series list
l =[1,4,5,2,6]
for i in range(1,7):
    if i not in l:
        print('Missing number in the series is:',i)

Missing number in the series is: 3

__Solution of Question no. 5__

In [61]:
# program to print this list L after removing all duplicate values with original order reserved.
l1 = [12,15,18,15,21,18,24,27,24,15,30]
l2 = []
for i in l1:
    if i not in l2:
        l2.append(i)
print('Original list after removing duplicate values:',list(l2))

Original list after removing duplicate values: [12, 15, 18, 21, 24, 27, 30]